{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet">
    <title> Прикормка </title>


</head>

<div>

    {% include 'menu.html' %}

    <div class="text-container">
        <div class="centering">
            <h1> Прикормка </h1>
        </div>
        <p>Та донная рыба, которую мы собираемся ловить фидером, ходит стаями. Эти стаи не стоят на месте, а
            непрерывно
            мигрируют по каким-то собственным тропам в поисках еды. Если мы сумеем отыскать эти пути передвижения,
            то
            точные забросы позволят довольно быстро закормить маленький участок дна на их пути и приостановить на
            какое-то время стаю и тем самым увеличить эффективность рыбалки.</p>
        <h3 class="centering">Требования к прикормке</h3>
        <p>Чем лучше будет закормлен участок, тем дольше на нем будет находиться рыба. Отсюда к прикормке
            предъявляются два ттребования.</p>
        <ol>
            <li><b>Прикормка на дне обязана быть постоянно.</b></li>
            <li><b>Больших фракций в ней, таких как зерна кукурузы, перловки, гороха, должно быть довольно много,
                чтобы стая не ушла.</b></li>
        </ol>
        <p>Но может получиться так, что рыбы вблизи нет, и когда появится не понятно. Тогда, применяем хитрость:
            будем притягивать рыбу, которая расположена ниже по течению.</p>
        <p>Отсюда следующее правило: прикормка должна содержать достаточное количество легкой и мелкой фракции,
            которая способна распространяться на огромное расстояние и которую невозможно скушать, однако
            собственным ароматом она вынудит рыбу идти против течения к источнику аромата. Чем дальше по течению
            распространяются эти фракции, тем скорее и тем больше рыбы подойдет к точке ловли.</p>

        <p>Прикормка должна содержать достаточное количество легкой и мелкой фракции, которая способна
            распространяться
            на огромное расстояние и которую невозможно скушать, однако собственным ароматом она вынудит рыбу идти
            против течения к источнику аромата. Чем дальше по течению распространяются эти фракции, тем скорее и тем
            больше рыбы подойдет к точке ловли.</p>

        <h2 class="centering">Из чего состоит прикормка для фидера</h2>
        <p>Чтобы вынудить на поклевку даже самую привиредливую рыбу, прикормка должна состоять из следующих
            элементов.</p>

        <h3 class="centering">Основа</h3>
        <p>Слово произносит смысл сам за себя – основа, которая может составлять более 50 процентов прикормки. Это
            питательная частицы, которые вроде бы есть, но, в то же время, ее вроде бы и нет. В качестве основы
            используют панировочные сухари, измельченные( к примеру, на блендере или мясорубке) хлебобулочные и
            кондитерские изделия (сухари, печенье, вафли и пр.), жмых, измельченные и обжаренные зерновые и т. д. В
            зависимости от силы течения и, скажем так, от помола крупные или мелкие частицы основы уносятся течением
            приманивать рыбу. Задача основы дать рыбе почувствовать аромат, но не накормить, большей частью уходя
            чрез
            жабры.</p>

        <h3 class="centering">Кормовая часть</h3>
        <p>Кормовая часть это примерно до 40 процентов прикормки. Это то, что в реальности может насытить рыбу:
            вареные
            зерна кукурузы, гороха, перловки, овса и т. д.; мелко нарезаный картофель фри, рубленые черви, опарыш,
            лущеные семечки, мелко нарезаные вареные макаронные изделия, комбикорм и т. д. Кормовая часть совместно
            с
            частью основы являются питательной основой в точке ловли и удерживают стаю.</p>

        <h3 class="centering">Связующие</h3>
        <p>Все, что может на какое-то время склеить основу и кормовую часть. По крайней мере, пока прикормка падает
            на
            дно. Это может быть вода, клейковина каши, сахар и т. д. Вот, практически все. Дальше идут улучшения.
            Они
            конечно нужны, но не обязательны.</p>

        <h3 class="centering">Аниматоры</h3>
        <p>Само слово говорит о том, что эти частицы прикормки воказывают в воде. Аниматоры дополняют вкусовые
            качестква
            основы визуальными. В качестве аниматоров может быть все, что плавает или создает муть, но не создает
            противных ароматов.</p>

        <h3 class="centering">Ароматизаторы</h3>
        <p>Чтобы привлечь и продолжительное время удерживать рыбу в точке ловли, провоцировать ее на поклевки,
            используются разнообразные вкусовые и ароматические добавки - ароматизаторы.</p>

        <h3 class="centering">Красители</h3>
        <p>Придают прикормке контрастный, по сравнению со дном, цвет для наилучшей видимости. Выбирая приманку,
            будьте
            довольно внимательными. Помните, что та рыба, которая ловится на фидер придирчива к приманке. Если вы
            хотите
            вернуться домой не только с уловом, но и просто настоящим трофеем, обязательно прихватите на рыбалку
            несколько видов приманок.</p>
        <p>Только в этом случае вам обязательно повезет!</p>
    </div>
</div>


</body>
</html>