<div class="header">
    <header>
        <ul>
            <li class="special"><a href="{% url 'index' %}">Главная</a></li>
            <li class="special"><a href="{% url 'fish' %}">Рыба</a></li>
            <li class="special"><a href="{% url 'feeding_up' %}">Прикормка</a></li>
            <li class="special"><a href="{% url 'bait' %}">Наживка</a></li>
            <li class="special"><a href="{% url 'football_team' %}">Футбольная команда</a></li>
            <li class="special"><a href="{% url 'about' %}">Об авторе</a>
        </ul>
    </header>
</div>